/* Properties.css */
.properties-container {
  margin: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.property-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.property-details {
  padding: 10px;
}

.property-details h3 {
  margin: 0;
}

.property-details p {
  margin: 5px 0;
}
.success-message {
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  padding: 20px; /* Increase padding for better visibility */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  margin: 20px 63px; /* Adjust margin for centering and spacing */
  display: none; /* Initially hide the success message */
  width: 90%; /* Set a specific width for the success message */
  font-size: 18px; /* Increase font size for better readability */
}

/* Optional animation for a fade-in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.success-message.show {
  animation: fadeIn 0.5s ease-in-out; /* Apply the fade-in animation */
  display: inline-block; /* Show the success message and make it fit the content */
}